
<div>
    <!--main header-->
    <mat-toolbar class="header-toolbar main-header">
        <div class="logo-container">
            <a routerLink="/">
                <img class="logo-img" src="../../assets/artgallery_logo.svg" alt="logo"/>
            </a>
        </div>
        <div class="header-link header-group">
            <a routerLink="/" class="button-link">Home</a>
            <span class="vertical-divider"></span>
            <a  class="button-link">About</a>
            <span class="vertical-divider"></span>
            <a  class="button-link">Contact</a>
        </div>
        <div class="header-group">
            <button *ngIf="!isUserSignedIn" 
                mat-flat-button color="accent"
                (click)="openAuthForm('Sign in')">Sign in</button>
            <button *ngIf="!isUserSignedIn" 
                mat-flat-button 
                (click)="openAuthForm('Sign up')">Sign up</button>
            <app-user-dialog *ngIf="isUserSignedIn" 
                (signOutEvent)="userSignOut($event)">
            </app-user-dialog>
            <!-- <a *ngIf="isUserSignedIn"
                (click)="openCreatePost()" mat-flat-button
                color="accent" class="fab-add-button">
                <mat-icon>add</mat-icon>
                Create post
            </a> -->
        </div>
    </mat-toolbar>
    <!--subheader-->
    <!-- <mat-toolbar class="header-toolbar subheader">
        <span class="middle-space"></span>
        <div class="header-group">
            <mat-form-field appearance="outline" class="search-box">
                <mat-label>Search</mat-label>
                <input matInput/>
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <a *ngIf="isUserSignedIn"
                (click)="openCreatePost()" mat-flat-button
                color="primary" class="fab-add-button">
                <mat-icon>add</mat-icon>
                Create post
            </a>
        </div>
    </mat-toolbar> -->
</div>


