
<div>
    <mat-toolbar color="primary" class="header-toolbar">
        <div class="header-group">
            <span>Art Gallery</span>
        </div>
        <span class="middle-space"></span>
        <div class="header-group">
            <a routerLink="/" class="button-link">Home</a>
            <button *ngIf="!isUserSignedIn" 
                mat-flat-button color="accent" 
                (click)="openForm('Sign in')">Sign in</button>
            <button *ngIf="!isUserSignedIn" 
                mat-flat-button 
                (click)="openForm('Sign up')">Sign up</button>
            <app-user-dialog *ngIf="isUserSignedIn" 
                (signOutEvent)="userSignOut($event)">
            </app-user-dialog>
            <a *ngIf="isUserSignedIn"
                routerLink="/post-edit" mat-flat-button
                color="accent" class="fab-add-button">
                <mat-icon>add</mat-icon>
                Create post
            </a>
        </div>
    </mat-toolbar>

    <!-- <div class="welcome-banner">
        <h2>Art Gallery</h2>
        <h4>A place to share your artwork</h4>
    </div> -->
</div>


