.dialog-container{
    text-align: center;
    padding: 16px 0 0 0;
    border-top: 3px solid #ed483c;
}

.dialog-actions{
    display: flex;
    justify-content: flex-end;
    background-color: whitesmoke;
    padding: 16px;
}
/* delete dialog */
.delete-title{
    color: #ed483c;
}
.delete-button{
    background-color: #ed483c;
    color: #fff;
}
/* info dialog */
.info-title{
    color: #6ebdeb;
}
.info-button{
    background-color: #6ebdeb;
    color: #fff;
}
