.dialog-container{
    text-align: center;
    padding: 16px 0 0 0;
    border-top: 3px solid #f44336;
}
.dialog-actions{
    display: flex;
    justify-content: flex-end;
    background-color: whitesmoke;
    padding: 16px;
}