.dialog-container{
    text-align: center;
    padding: 16px 0 0 0;
    border-top: 3px solid var(--color-warn);
}

.dialog-actions{
    display: flex;
    justify-content: flex-end;
    background-color: whitesmoke;
    padding: 16px;
}
/* delete dialog */
.delete-title{
    color: var(--color-warn);
}
.delete-button{
    background-color: var(--color-warn);
    color: #fff;
}
/* info dialog */
.info-title{
    color: var(--color-info);
}
.info-button{
    background-color: var(--color-info);
    color: #fff;
}
