<div>
    <div class="post-detail-container" *ngIf="post != undefined">
        <div class="img-container">
            <img class="post-img" src="{{post.postImage}}">
        </div>
        <div class="post-info-container">
            <div class="post-action">
                <div class="post-button">
                    <button mat-stroked-button color="primary" (click)="onLikePost()">
                        <mat-icon>favorite</mat-icon>
                        Like
                    </button>
                </div>
                <form novalidate (submit)="onComment()" [formGroup]="commentForm">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Comments</mat-label>
                        <textarea matInput type="text" formControlName="commentControl">
                        </textarea>
                    </mat-form-field>
                    <div class="comment-action">
                        <button mat-flat-button color="primary" type="submit">Comment</button>
                        <button mat-flat-button>Cancel</button>
                    </div>
                </form>
            </div>
            <div class="post-info-header">
                <img class="user-img-avatar"
                src="{{post.author.avatar.path}}"/>
                <div>
                    <h2 class="post-title">{{post.postName}}</h2>
                    by
                    <span class="post-author">{{post.author.username}}</span>
                </div>
                <span class="post-date">Published: {{post.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}</span>
            </div>
            <div class="post-info-stat">
                <span class="icon-text">
                    <mat-icon color="warn">favorite</mat-icon>
                    {{post.likeCount}} Likes
                </span>
                |
                <span class="icon-text">
                    <mat-icon color="primary">comment</mat-icon>
                    {{post.commentCount}} Comments
                </span>
            </div>
            <div>
                {{post.description}}
            </div>
            <app-comment-list [commentList]="postCommentsList"></app-comment-list>
        </div>
    </div>
</div>
