<div class="user-info-container">
    <mat-drawer-container autosize class="side-container">
        <mat-drawer mode="side" opened>
            <mat-list>
                <mat-action-list>
                    <a mat-list-item (click)="navigateToUserProfile()">Profile info</a>
                    <a mat-list-item (click)="navigateToUserPost()">My posts</a>
                </mat-action-list>
            </mat-list>
        </mat-drawer>
        <mat-drawer-content class="user-info-content">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
