<button mat-icon-button [matMenuTriggerFor]="userDialog">
    <mat-icon>account_box</mat-icon>
</button>

<mat-menu #userDialog="matMenu">
    <mat-list *ngIf="currentUserLoginInfo != undefined">
        <div class="user-profile-dialog"></div>
        <mat-list-item>
            <img matListItemAvatar src="{{currentUserLoginInfo.avatar.path}}"/>
            <h4 matListItemTitle>{{currentUserLoginInfo.username}}</h4>
            <p matListItemLine>{{currentUserLoginInfo.email}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-action-list>
            <a [routerLink]="['/user', currentUserLoginInfo.username, 'profile']" mat-list-item>My profile</a>
        </mat-action-list>
        <mat-list-item>
            <button mat-flat-button color="primary" (click)="signOut()">Sign out</button>
        </mat-list-item>
    </mat-list>
</mat-menu>
