<table mat-table [dataSource]="postList" matSort
    (matSortChange)="onSortChange($event)">
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let post">
            <button mat-icon-button (click)="onViewPostDetail(post)">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="onEditPost(post)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDeleteConfirm(post)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>
            No.
        </th>
        <td mat-cell *matCellDef="let post; let i = index">{{(i + 1) + (postFilterSearch.limit! * (postFilterSearch.page! - 1))}}</td>
    </ng-container>
    <ng-container matColumnDef="postName">
        <th mat-header-cell *matHeaderCellDef 
            mat-sort-header sortActionDescription="Sort by post name">
            Post name
        </th>
        <td mat-cell *matCellDef="let post">{{post.postName}}</td>
    </ng-container>
    <ng-container matColumnDef="likeCount">
        <th mat-header-cell *matHeaderCellDef 
            mat-sort-header sortActionDescription="Sort by likes">
            Likes
        </th>
        <td mat-cell *matCellDef="let post">{{post.likeCount}}</td>
    </ng-container>
    <ng-container matColumnDef="commentCount">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header sortActionDescription="Sort by comments">
            Comments
        </th>
        <td mat-cell *matCellDef="let post">{{post.commentCount}}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header sortActionDescription="Sort by date created">
            Date created
        </th>
        <td mat-cell *matCellDef="let post">{{post.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; 
            columns: tableColumns; 
            let even = even" [ngClass]="{'table-row-color': even}">
    </tr>
</table>
<mat-paginator #paginator *ngIf="postPagination"
    [length]="postPagination.totalCount"
    [pageSize]="postPagination.itemsPerPage"
    [pageIndex]="postPagination.pageIndex"
    [pageSizeOptions]="[2, 5, 10, 20]"
    (page)="paginateEvent($event)"
    aria-label="Select page">
</mat-paginator>

