<mat-toolbar class="toolbar-container">
    <div class="toolbar-group">
        <mat-form-field appearance="outline" class="search-box" subscriptSizing="dynamic">
            <input matInput placeholder="post name..." [(ngModel)]="filterSearch.postName"/>
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="search-box" subscriptSizing="dynamic">
            <input matInput placeholder="author name..." [(ngModel)]="filterSearch.authorName"/>
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="onFilterSearch()">Search</button>
    </div>
    
    <span class="middle-space"></span>
    <div class="toolbar-group">
        <a *ngIf="isUserSignedIn"
            (click)="openCreatePost()" mat-flat-button
            color="primary" class="fab-add-button">
            <mat-icon>add</mat-icon>
            Create post
        </a>
        <!-- <a
            (click)="openCreatePost()" mat-flat-button
            color="primary" class="fab-add-button">
            <mat-icon>add</mat-icon>
            Create post
        </a> -->
    </div>
</mat-toolbar>
