.search-form-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 8px;
    align-items: center;
    min-height: 64px;
    background-color: var(--container-bg-color);
    padding: 12px;
}