
<div>
    <div>
        <app-post-search-filter [isUserSignedIn]="isUserSignedIn"
            (openCreatePostEvent)="openCreatePost()"
            (filterSearchEvent)="onFilterSearch($event)">
        </app-post-search-filter>
        <mat-grid-list [cols]="screenBreakpoint" rowHeight="1:1.2" [gutterSize]="'16px'" (window:resize)="onResize($event)">
            <mat-grid-tile *ngFor="let post of postLists; let i = index">
                <app-post-list-item [post]="post" [currentUserLoginId]="currentUserLogin.id"
                    (postEmitEvent)="handleEmittedEvent($event)">
                </app-post-list-item>
                <!-- <mat-card class="card-container">
                    <div class="img-container" (click)="openPostDetail(post)">
                        <img class="post-img" *ngIf="post.postImage!== undefined" mat-card-image src="{{post.postImage}}">
                    </div>
                    
                    <mat-card-content class="card-content">
                        <div class="card-primary-title">
                            <h2>{{post.postName}}</h2>
                            <div class="post-author-info">
                                <img *ngIf="post != undefined" class="author-avatar" src="{{post.author.avatar.path}}"/>
                                <mat-card-subtitle>
                                    by
                                    <span class="author-name">
                                        {{post.author.username}}
                                    </span>
                                </mat-card-subtitle>
                                <mat-card-subtitle class="post-date">{{post.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}</mat-card-subtitle>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="post-stats">
                            <span>
                                {{post.likeCount || 0}} likes
                            </span>
                            <span>
                                {{post.commentCount}} comments
                            </span>
                        </div>
                        <div class="card-actions">
                            <button mat-icon-button color="warn" class="card-icon"
                                (click)="onLikePost(post)">
                                <mat-icon>favorite_border</mat-icon>
                            </button>
                            <button mat-button color="primary" class="text-button"
                                (click)="openPostDetail(post)">
                                View post
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card> -->
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br>
    <mat-divider></mat-divider>
    <mat-paginator #paginator *ngIf="postPagination"
        [length]="postPagination.totalCount"
        [pageSize]="postPagination.itemsPerPage"
        [pageIndex]="postPagination.pageIndex"
        [pageSizeOptions]="[3, 6, 9, 18]"
        (page)="paginateEvent($event)"
        aria-label="Select page">
    </mat-paginator>
</div>




