.comment-list{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    list-style-type: none;
}
.comment-container{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    /* background-color: rgb(245, 244, 244); */
    background-color: var(--light-grey-bg);
    padding: 12px;
    border-radius: 8px;
}
.avatar-img{
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.comment-content{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
}
.comment-header{
    display: flex;
    flex-direction: row;
    margin: 0 0 16px 0;
    align-items: center;
}
.comment-header > h3{
    font-size: 18px;
}
.comment-date{
    margin-left: auto;
}
.comment-username{
    font-weight: 500;
    margin: 0 0 4px 0;
}