.comment-list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style-type: none;
}
.comment-container{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    padding: 12px;
    border-radius: 8px;
}
.avatar-img{
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.comment-content{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
}
.comment-header{
    display: flex;
    flex-direction: row;
    margin: 0 0 8px 0;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
}
.comment-header > h3{
    font-size: 18px;
}
.comment-date{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
}
.comment-username{
    font-weight: 500;
    margin: 0
}
.line-separator{
    border-bottom: 1px solid var(--neutral-container);
    width: 90%;
}