<div *ngIf="isDisplayForm">
    <form novalidate (submit)="onSubmit()" [formGroup]="postForm">
        <div class="post-form-container">
            <h2>{{displayConfig.title}}</h2>
            <div class="post-form-content">
                <div class="left-section">
                    <mat-form-field>
                        <mat-label>Post name</mat-label>
                        <input matInput type="text" formControlName="postNameControl"/>
                        <mat-error *ngIf="postName?.errors?.['required']">Please enter post name</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Post description</mat-label>
                        <textarea matInput type="text" formControlName="postDescriptionControl">
                        </textarea>
                    </mat-form-field>
                    <app-file-upload formControlName="postImageUploadControl"
                        (fileSelected)="onFileSelected($event)"
                        (fileUploadCompleted)="onFileUploadCompleted($event)"
                        #fileUpload>
                    </app-file-upload>
                    <mat-form-field>
                        <mat-label>Add post tags</mat-label>
                        <mat-chip-grid #postTag aria-label="Enter tags"
                            formControlName="postTagControl">
                            <mat-chip-row *ngFor="let tag of postTags?.value; let i = index"
                                (removed)="onRemovePostTag(i)"
                                [editable]="false">
                                {{tag}}
                                <button matChipRemove [attr.aria-label]="'remove' + tag">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                            <input 
                                placeholder="Add new tag..."
                                [matChipInputFor]="postTag"
                                [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                                (matChipInputTokenEnd)="onAddPostTag($event)"
                                />
                        </mat-chip-grid>
                    </mat-form-field>
                    <button mat-flat-button color="primary" type="submit">{{displayConfig.buttonTitle}}</button>
                </div>
                <div class="right-section">
                    <div class="img-container">
                        <img *ngIf="imgPreviewUrl" class="img-preview" src="{{imgPreviewUrl}}"/>
                    </div>
                </div>
            </div>
        </div>        
    </form>
</div>


