<div>
    <form novalidate (submit)="onSubmit()" [formGroup]="postForm">
        <div class="post-form-container">
            <ng-template #viewContainerRef></ng-template>
            <div class="post-form-content">
                <div class="left-section">
                    <mat-form-field>
                        <mat-label>Post name</mat-label>
                        <input matInput type="text" formControlName="postNameControl"/>
                        <mat-error *ngIf="postName?.errors?.['required']">Please enter post name</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Post description</mat-label>
                        <textarea matInput type="text" formControlName="postDescriptionControl">
                        </textarea>
                    </mat-form-field>
                    <app-file-upload formControlName="postImageUploadControl"
                        (fileSelected)="onFileSelected($event)"
                        (fileUploadCompleted)="onFileUploadCompleted($event)"
                        #fileUpload>
                    </app-file-upload>
                    
                    <button mat-flat-button color="primary" type="submit">Create post</button>
                </div>
                <div class="right-section">
                    <div *ngIf="imgPreviewUrl">
                        <img class="img-preview" src="{{imgPreviewUrl}}"/>
                    </div>
                </div>
            </div>
        </div>        
    </form>
</div>


