.post-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 32px 16px;
}
.post-form-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}
.left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: auto;
}
.right-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    height: auto;
}
.img-preview{
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
}