.body-content{
    margin: 16px 32px;
}



/* .snackbar-success{
    background-color: lightgreen;
    color: white;
}
.snackbar-error{
    background-color: lightcoral;
    color: white;
}
.snackbar-warning{
    background-color: lightgoldenrodyellow;
    color: white;
} */
