<table mat-table [dataSource]="postList">
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef>1</td>
    </ng-container>
    <ng-container matColumnDef="postName">
        <th mat-header-cell *matHeaderCellDef>Post name</th>
        <td mat-cell *matCellDef="let post">{{post.postName}}</td>
    </ng-container>
    <ng-container matColumnDef="likes">
        <th mat-header-cell *matHeaderCellDef>Likes</th>
        <td mat-cell *matCellDef="let post">15</td>
    </ng-container>
    <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Comments</th>
        <td mat-cell *matCellDef="let post">9</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
</table>
