/* You can add global styles to this file, and also import other style files */

:root{
    /* global css var */
    /* --input-bg-color: #fff; */
    /* --input-bg-focused: rgba(0, 0, 0, 0.2); */
    --container-bg-color: #fff;
    /* --light-grey-bg: #f3f2f2; */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--neutral-container); }


/* snack-bar */
/* override mat-snack-bar css */
/* Success */
.snackbar-container{
    max-width: 1000px;
    --mdc-snackbar-supporting-text-size: 16px;
    --mdc-snackbar-supporting-text-color: #fff;
    padding: 8px;
}
.snackbar-info{
    --mdc-snackbar-container-color: var(--color-accent) !important;
}
.snackbar-success{
    --mdc-snackbar-container-color: var(--color-success) !important;
}
/* Error */
.snackbar-error {
    --mdc-snackbar-container-color: var(--color-error) !important;
}
/* Warning */
/* .snackbar-warning {
    --mdc-snackbar-container-color: #e2cd57 !important;
} */
